body{
	background-color:blue;
     }
p{
      padding:20px 50px;
      border:2px solid green;
      width:800px;
      margin:auto;
      background-color:white;
    
}
 img{ padding:20px;
     float:right;
     height:250px;
     width:200px;
     
}

